@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply fixed top-0 left-0 
    w-[400px] h-full bg-white
    px-20 py-16 
    flex flex-wrap content-between 
    wide:px-10 wide:w-[350px] wide:pr-0
    web:relative web:w-full web:px-20 web:py-5
    tb:px-12 
    mb:px-8;
  }
  main {
    @apply ml-[400px] px-20 py-16
    wide:ml-[350px]
    web:ml-0 web:pt-0
    tb:px-12 
    mb:px-8;;  
  }
  input[type="text"] {
    @apply w-full px-2 py-1 pr-8 bg-transparent border-b outline-none border-black/50 mb:w-full;
  }
}

@layer components {
  .picFrame {
    @apply relative w-full h-[30vh] cursor-pointer 
    [&_img]:w-full [&_img]:h-full [&_img]:object-cover;
  }
  .btn {
    @apply 
    relative inline-block py-2 bg-transparent 
    text-base text-black/50
    transition duration-300 
    border-none cursor-pointer  
    after:absolute after:bottom-0 after:left-0 
    after:content-[''] after:block 
    after:w-[0px] after:h-[1px] after:bg-black/40
    after:transition-[width] after:duration-300;
  }
  .btn.on {
    @apply text-black/100 after:w-full;
  }
  .btnSearch {
    @apply text-lg bg-transparent border-none cursor-pointer text-black/70;
  }
  .infoText {
    @apply absolute left-[50%] top-[10vh]  -translate-x-[50%] 
    text-4xl text-black/70 leading-normal text-center;
  }
}
